{% extends 'base.html' %}
{% load static %}

{% block title %}API{% endblock %}
{% block content %}
    <div style="text-align: center">
        <h1>The Gradebook API</h1>
        <h2>Browser Interface</h2>
        <h5>You can view the JSON data in your browser</h5>
        <a href="{% url 'api_students' %}">Student Data</a>
        <a href="{% url 'api_courses' %}">Course Data</a>
        <a href="{% url 'api_grades' %}">Grades Data</a>
        <hr>
        <h2>CLI Interface</h2>
        <h5>...Or you can use your terminal</h5>
    </div>
{% endblock %}